.home {
    background-image: url('imgs/Abe\ Lincoln\ Gif.gif');
    background-repeat: no-repeat;
    width: 100%;
    /* background-position: center; */
  background-size: cover;
  overflow: hidden;
}

body.earlylife-education {
  background-color: black;
  color: white;
}

body.multimedia-citations {
  background-color: black;
  color: white;

}

body.politicalalignment-elections {
  background-color: black;
  color: white;
}

body.presidency {
  background-color: black;
  color: white;
}

.card-title{
  font-size: 50px;
}
.card-text{
  font-size: 30px;
}

.card-img {
  height: 400px;  
  width: 1800px;   
  object-fit: cover;
  opacity: 0.5;
  position: relative;
  margin-top: 5px;
  object-position: 25% top; 
}

.card {
display: inline-block;
align-content: center;
position: relative;
}

h1{
    font-family: "rafaella", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
font-size: 200px;
text-align: center;
padding-top: 400px;
}

h2 {
  font-family: "the-seasons", sans-serif;
font-weight: 400;
font-style: normal;
  text-align: center;
  padding-top: 45px;
  font-size: 100px;
  animation: fadeIn 3s ease-out;
}

h5{
  font-size: 15px;
}

p{
  font-size: 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  padding-left: 25px;
  font-size: 35px;
  font-family: "the-seasons", sans-serif;
font-weight: 400;
font-style: normal;
}

.navbar-nav {
  margin-left: auto;
  font-size: 22px;
}

.navbar-brand {
  margin-right: auto;
  font-size: 22px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

/* Start of Timeline */

 .timeline-wrapper {
  overflow-x: auto;  
  padding-bottom: 20px; 
  padding-top: 50px; 
}

.timeline {
  display: flex; 
  flex-wrap: nowrap;  
  align-items: flex-start;
}

.timeline-content {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 170px; /* Set a fixed height for all boxes */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures the content is spaced inside the box */
}


.timeline-item {
  flex: 0 0 auto;  
  width: 300px;  
  margin-right: 30px;
  background-color: #f1f1f1; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timeline-item .timeline-content h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.timeline-item .timeline-content p {
  font-size: 16px;
  color: #555;
}

/* End Of Timeline */
