body{
    background-image: url(imgs/Abe\ Lincoln\ Gif.gif);
    background-repeat: no-repeat;
    width: 100%;
    /* background-position: center; */
  background-size: cover;
  overflow: hidden;
}

h1{
    font-family: "rafaella", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
font-size: 200px;
text-align: center;
padding-top: 400px;
}